.todo_list{
 text-align: center;
 justify-content: center;
}

.edit_icon{
    padding-right: 5px;
    padding-left: 5px;
    justify-content: right;
}

.input_modal{
    padding-right: 15px !important;
    padding-left: 15px !important;
}